<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}
        {{ inertiaHead(page) }}
    </head>
    <body>
        {{ inertia(page) }}
        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
